<div class="d-grid gap-1 col-4 mx-auto">
   <h1>Common Item</h1>
   <p class="text-decoration-underline fw-bold">Our common_items name list with details:</p>
</div>
<div class="list-group d-grid gap-2 col-4 mx-auto">
<ul>
    <% @common_items.each do |common_item| %>
    <li class="list-group-item list-group-item-action">
         <%= link_to common_item.name, common_item %>
    </li>
    <% end %>
</ul>

<div class="d-grid gap-2 col-4 mx-auto">
  <button type="button" class="btn btn-outline-primary">
    <%= link_to "Add New Item", new_common_item_path %>
  </button>
</div>