<h1>Vegetables</h1>

<ul>
  <% @vegetables.each do |vegetable| %>
    <li>
        <a href="/vegetables/<%= vegetable.id %>">
          <%= vegetable.name %>
        </a>
    </li>
  <% end %>
</ul>

