<h1 class="text-decoration-underline text-center"><%= @vegetable.name %></h1>

<p class="text-center"><%= @vegetable.description %></p>

<div class="text-center">
 
    <li><%= link_to "Edit", edit_vegetable_path(@vegetable) %></li>

    <li><%= link_to "Delete", vegetable_path(@vegetable), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?" } %></li>


  
 </div> 