<div class="container">
    <div class="row">
        <div class="col"></div>
            <div class="col-auto">
                <div class="col-auto">
                    <h1>New Leafy green</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <%= render "form", leafy_green: @leafy_green  %>
                    </div>
                </div>
            </div>
        <div class="col"></div>
    </div>
</div>