<div class="container">
    <div class="row g-3">
        <div class="col-md-4 col-6">
            
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h1>Common_items</h1>
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some common_itemes here!</p>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <ol>
                            <% @products.where("type = 'common_items'").each do |common_items| %>
                            <% byebug %>
                            <li>
                                <%= link_to common_item.name, common_item %>
                            </li>
                            <% end%>
                        </ol>
                    </ul>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="button" class="btn btn-outline-primary">
                    <a href="http://127.0.0.1:3000/common_items" class="card-link">Menu</a>
                    </button>
                </div>

                







            </div> 
        </div> 
    </div>
</div>
            