<div class="d-grid gap-1 col-4 mx-auto">
   <h1>Leafy greens</h1>
   <p class="text-decoration-underline fw-bold">Our Leafy greens name list with details:</p>
</div>
<div class="list-group d-grid gap-2 col-4 mx-auto">
<ul>
    <% @leafy_greens.each do |leafy_green| %>
    <li class="list-group-item list-group-item-action">
         <%= link_to leafy_green.name, leafy_green %>
    </li>
    <% end %>
</ul>

<div class="d-grid gap-2 col-4 mx-auto">
  <button type="button" class="btn btn-outline-primary">
    <%= link_to "Add New", new_product_path %>
  </button>
</div>